<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/CODE/Git/TestNG_DEMO/src/main/java/test/test01_xml"><classes><class name="test.test01_xml.xmlpkg01.test01_demo_01"><methods><include name="test01_demo01_HelloWorld"/><include name="test01_demo01_HelloTestNG"/></methods></class><class name="test.test01_xml.xmlpkg02.test01_demo_02"><methods><include name="test01_demo02_HelloWorld"/><include name="test01_demo02_HelloTestNG"/></methods></class><class name="test.test01_xml.xmlpkg02.test01_demo_03"><methods><include name="test01_demo03_HelloWorld"/><include name="test01_demo03_HelloTestNG"/></methods></class></classes></test></suite>